.profile_body {
    margin: 0;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
  }
.profile_card {
    background: #0D0D34;
    border-radius: 4px;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    position: relative;
    color: white;
  }
  .profile_card h2 {
    margin: 0;
    padding: 0 1rem;
    font-size: 55px;
  }
  .profile_card .title {
    padding: 0.5rem;
    text-align: right;
    color: #fb2f38;
    font-weight: bold;
    font-size: 20px;
  }

  .profile_card .title a{
    color: #fb2f38;
  }

  .profile_card .desc {
    padding: 0.5rem 1rem;
    font-size: 12px;
  }

  .profile_card .descr {
    padding: 0.5rem 1rem;
    font-size: 20px;
  }

  .profile_card img {
    width: 70px;
    height: 60px;
    margin: 0 auto;
  }
  
  .img-avatar {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    border: 6px solid #0D0D34;
    background-image: linear-gradient(-60deg, #0D0D34 0%, #fb2f38 100%);
    top: 15px;
    left: 235px;
  }

  
  .card-text {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .profile_card .actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5rem 1rem;
  }
  
  .title-total {
    padding: 2.5em 1.5em 1.5em 1.5em;
    margin-top: -20px;
  }
  
  .img-portada {
    width: 100%;
  }
  
  .portada {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: url('https://m.media-amazon.com/images/I/81j8GYy9pNL._AC_SL1500_.jpg');
    background-position: bottom center;
    background-size: cover;
  }
  
.btnc1{
    cursor: pointer;
    border: none;
    background: #fb2f38;
    padding: 9px 10px;
    width: 120px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    margin-top: 20px;
    margin-left: 10px;
    &:hover{
      color: #0D0D34;
    }
  }
  
.btnc2{
  cursor: pointer;
  border: none;
  color: #fb2f38;
  background: transparent;
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 10px;
}